body {
	background-image: url("http://html5webtemplate.com/images/bg.jpg");
	font-family: 'Titillium Web', sans-serif;
}

.fade
{
	opacity: 0.5;
}	

.fade:hover
{
	opacity: 1;
}

.circle:hover
{
    border-radius:50%;
}

.color:hover
{
	color: green;
}

img {
	width: 480px;
	height: 320px;
	border: green solid 5px;
}

h2 {
	border: green dashed;
	padding: 5px;
}

@media screen and (min-width: 701px) {
  	nav {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
  body {
	background-image: url("http://html5webtemplate.com/images/bg.jpg");
  }
}
@media screen and (max-width: 700px) {
  nav li {
    display: inline; 
  }
  body {
  	background-image: url("http://www.planwallpaper.com/static/images/cool-background.jpg");
  }
  h1 {
  	position: relative;
  	text-align: center;
  }
}


